#container{
  width: 1000px;
  height: 800px;
  border: 1px solid  black;

}

#container-filter {
  margin: 20px 0;
  padding: 20px;
  border-top: 2px #333 solid;
}

.search {
  padding: 20px;
  background-color: lightblue;
  font-size: 24px;
}
